@CHARSET "UTF-8";
.on{ 
	    background-color: #35afe3;
	    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
	    font-weight:bold;
		}
	#nav-menu span{ 
	font-weight:bold;
	font-size:0.9em;
	float:left; 
	height: 0em;
	line-height: 0em;
	padding-left:15px;
	padding-top:20px;
	width: 20em;
	display: block;
	/*border: 0.1em solid #dcdce9;*/
	color: #778899;
	/*text-decoration: underline;*/
	}
	#nav-menu li a
		{
		height: 2em;
		line-height: 2em;
		float: left;
		width: 9em;
		display: block;
		border: 0.1em solid #dcdce9;
		color: #0d2474;
		text-decoration: none;
		text-align: center;
		} 
	#nav-menu li a:hover,
	#nav-menu li a.active {
	    background-color: #35afe3;
	    background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
	    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
		font-weight:bold;
		}
.ui-layout-center { padding: 0px !important; }/*지정패널 패딩 0*/
.ui-layout-west { border: none !important; }
.ui-layout-resizer { /* all 'resizer-bars' */ 
		width:0px !important;
		}