@charset "utf-8";

/* index페이지
 ------------------------------------------------ */
body#container {
	width: 100%;
	height: 100%;
	/*background: #a3b966;*/
}
/*
#main {
	background: #a3b966 url(../img/none.png) repeat-x;
	width: 100%;
	height: 100%;
}

#main > div[data-role='header'] {
	background: none;
	padding: 0;
	margin: 0;
	border: 0;
	position: relative;
	z-index: 10;
}

#main > div[data-role='header'] > h1 {
	padding: 0;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 15px;
	text-align: center;
}

#main > div[data-role='header'] > h1 > img {
	width: 196px;
	height: 68px;
}

#main > div[data-role='content'] {
	padding: 0;
	margin: 0;
	width: auto;
	background: url(../img/none.png) center bottom no-repeat;
	text-align: center;
	height: 100%;
	margin-top: -123px;
	position: relative;
}

#main > div[data-role='content'] > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 15px;
	text-align: center;
}

#main > div[data-role='content'] > ul > li {
	display: inline;
}

#main > div[data-role='content'] > ul > li img.left {
	margin: 2px 2px 0 0;
}

#main > div[data-role='content'] > ul > li img.right {
	margin: 2px 0 0 2px;
}
*/
#main > div[data-role='content'] > ul > li.titlebar1 {
	background: url(../img/topbar_01.png) center center repeat-x;
}
#main > div[data-role='content'] > ul > li.titlebar2 {
	background: url(../img/topbar_02.png) center center repeat-x;
}
#main > div[data-role='content'] > ul > li.titlebar3 {
	background: url(../img/topbar_03.png) center center repeat-x;
}
#main > div[data-role='content'] > ul > li.titlebar4 {
	background: url(../img/topbar_04.png) center center repeat-x;
}
#main > div[data-role='content'] > ul > li.titlebar5 {
	background: url(../img/topbar_05.png) center center repeat-x;
}
#main > div[data-role='content'] > ul > li.titlebar6 {
	background: url(../img/topbar_06.png) center center repeat-x;
}
/* 서브 페이지
 ------------------------------------------------ */
div > div[data-role='header'].titlebar1 {
	background: url(../img/topbar_01.png) center center repeat-x;
}

div > div[data-role='header'].titlebar2 {
	background: url(../img/topbar_02.png) center center repeat-x;
}

div > div[data-role='header'].titlebar3 {
	background: url(../img/topbar_03.png) center center repeat-x;
}

div > div[data-role='header'].titlebar4 {
	background: url(../img/topbar_04.png) center center repeat-x;
}

div > div[data-role='header'].titlebar5 {
	background: url(../img/topbar_05.png) center center repeat-x;
}

div > div[data-role='header'].titlebar6 {
	background: url(../img/topbar_06.png) center center repeat-x;
}

#edit_password input, #delete_password input {
	display:inline; width:86%; padding:3px 10px; margin-left:5px; margin-top: 3px; margin-bottom: 3px;
}